VITE_API_BASE=http://127.0.0.1:5001
VITE_DEVICE_API_KEY=farm-device-key
VITE_SUPABASE_URL=https://tnppwjdqimozisfafeqw.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Zu1rseeTqyY9e-ck2NpXUQ_ysjeINRH
